<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">
<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form method="POST" action="/users/forgot_password">
            <div class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Enter email" name="email">
              <small id="emailHelp" class="form-text text-muted">Enter the email for which you want to retrieve your password</small>
            </div>
  
            <button type="submit" class="btn btn-lg btn-primary row">Send Mail</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    <% if (flash.success && flash.success.length>0) { %>
        new Noty({
            theme : 'relax',
            text : '<%=flash.success%>',
            type : 'success',
            layout : 'topRight',
            timeout : 1500
        }).show();
    <% } %>
    <% if (flash.error && flash.error.length>0) { %>
        new Noty({
            theme : 'relax',
            text : '<%=flash.error%>',
            type : 'error',
            layout : 'topRight',
            timeout : 1500
        }).show();
    <% } %>
</script>